.App {
  text-align: center;
}

.logo {
  height: 40px;
}

.bg-colored {
  background-color: #faf7f2;
}

.btn-yellow {
  background-color: #fdc913 !important;
  font-size: 16px;
  font-weight: 600;
}

.hero-heading {
  font-family: "Martel", serif;
  font-size: 56px;
  font-weight: 700;
  color: #292929;
}

.hero-subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

.grass-img {
  width: 20%;
}

.signup-heading {
  font-family: "Manrope", serif;
  font-size: 50px;
  font-weight: 700;
  color: #292929;
}

.signup-subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
}

.signup-form-heading {
  font-family: "Manrope", serif;
  font-size: 24px;
  font-weight: 700;
  color: #ce2829;
}
